<html>
    <head>
    </head>
    <body>
        <h1>{{nombre}}</h1>
        <h3>Es un framework diseñado para desarrollar aplicaciones web basado en el patrón Modelo Vista Controlador.
            Para empezar, separa la lógica de negocio, la lógica de servidor y la presentación de la aplicación web.</h3>
    </body>
<html>