<html>
    <head>
    </head>
    <body>
       <h1>Bienvenido  {{ nombre }} </h1>, <h2>gracias por usar nuestro framework para el desarrollo de sus
        futuros proyectos</h2>
    </body>
<html>