<html>
<head></head>
<body>
   

        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h1 class="card-title">Bienvenido {{ nombre }} ({{ age }})</h1>
                <h2 class="card-subtitle mb-2 text-muted">Gracias por usar nuestro framework para el desarrollo de sus
                futuros proyectos</h2>
                <p>From Twig with love</p>
            </div>
        </div>
    
</body>
<html>